
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner_content">
    <div class="wthree-typo agile_info_<s></s>hadow">
        <div class="grid_3 grid_4 w3layouts">
            <div class="w3l_agileits_breadcrumbs">
                <div class="w3l_agileits_breadcrumbs_inner">
                    <ul>
                        <li><a href="~/Home/Dashboard"><i class="fa fa-home"></i>Home</a><span>«</span></li>
                        <li><a href="~/Home/About"><i class="fa fa-info"></i> About</a></li>
                    </ul>
                </div>
            </div>
            <br />
            <div class="">
                <h2 class="text-info text-center"><i class="fa fa-info-circle"></i> About</h2>
            </div>
            <br />
            <div class="wthree-typo agile_info_shadow">
                <div class="grid_3 grid_4 w3layouts">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="">
                                <ul class="text-justify">
                                    <li class="fa fa-caret-right fa-2x">
                                        It's all began in Nov 2014, Overseas IT Solution focus on software development life cycle, we had one clear goal - to be an easiest and affordable
                                        Digital Media of globe. Working at different levels in IT sectors, we would like to provide all services related with same, as well as want to use IT in all the sectors.
                                    </li>
                                    <li class="fa fa-caret-right fa-2x" style="padding-top:20px">
                                        There were very few firms serving 'Total Solutions' right from the concept to completion of web-based projects. We started from offering web development services for small and medium enterprises.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="~/Content/images/creatve_imac_iphone.png" class="img-responsive img-thumbnail" />
                            <br />
                            <h3 class="text-info text-center">Resonsive Design</h3>
                        </div>
                    </div>
                    <ul class="text-justify">
                        <li class="fa fa-caret-right fa-2x" style="padding-top:20px">
                            In the current scenario, marketing stratagies of companies have turned to the web for their expension and diversification needs, we have been working successfully with customers from the US, UK, AUS.
                        </li>
                    </ul>
                    <br />
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#ourGoal">OUT GOAL</a></li>
                        <li><a data-toggle="tab" href="#ourVision">OUR VISION</a></li>
                        <li><a data-toggle="tab" href="#menu2">OUR TEAM</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="ourGoal" class="tab-pane fade in active">
                            <br />
                            <h3 class="text-info">OUR GOAL</h3>
                            <p class="text-justify">
                                Over the last few years our market has grown extensively.We aim to compete against the big players in the Solution services market and deliver better tailored systems, superior service at an attractive price.
                            </p>
                        </div>

                        <div id="ourVision" class="tab-pane fade in active">
                            <h3>OUR GOAL</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

